<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the metadata -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <!-- set the title -->
    <title>QA1 Quality Portal</title>

    <!-- bring in the favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- link to reset css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- link to bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    
    <!-- link to style css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- import js libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body class="bg-light">

    <!-- header -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">QA1 Quality Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">QA1 Quality Portal</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Inspection Reports
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/data_entry">Create</a></li>
                                <li><a class="dropdown-item" href="#">Modify</a></li>
                                <li><a class="dropdown-item" href="#">Review</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Bulk Data
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Plotting</a></li>
                                <li><a class="dropdown-item" href="#">Export</a></li>
                                <li><a class="dropdown-item" href="#">Exploratory Analysis</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Deep Learning
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Supervised</a></li>
                                <li><a class="dropdown-item" href="#">Unsupervised</a></li>
                                <li><a class="dropdown-item" href="#">Neural Networks</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- body -->
    <div class="container">

        <!-- choosing an inspection report -->
        <div class="row my-2">
            <div class="col-md-12">
                <h4 class="mt-3">Choose An Inspection Report...</h4>
            </div>
        </div>
        <div class="row my-2">

            <!-- select an existing report -->
            <div class="col-md-4">
                <div class="d-grid">
                    <button class="btn btn-dark" type="button" id="existing_report_button" data-bs-toggle="offcanvas" data-bs-target="#existing_reports" aria-controls="select_existing_report">
                        Select Existing Report
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-start bg-light" data-bs-scroll="true" tabindex="-1" id="existing_reports" aria-labelledby="existing_report_label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="existing_report_label">Existing Reports</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="input-group mb-3">
                        <label class="input-group-text" id="label_type_major" for="existing_report_filter_type">Filter</label>
                        <select class="form-select bg-light" id="existing_report_filter_type">
                            <option value="0" selected>None</option>
                            <option value="1">Drawing</option>
                            <option value="2">Item Number</option>
                        </select>
                        <input type="text" class="form-control bg-light" id="existing_report_filter_term" aria-describedby="existing_report_apply_filter">
                        <button class="btn btn-outline-secondary" type="button" id="existing_report_filter_apply">Apply</button> 
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" id="label_type_major" for="existing_report_start_date">Date Span</label>
                        <input id="existing_report_start_date" class="form-control bg-light" type="date">
                        <input id="existing_report_stop_date" class="form-control bg-light" type="date">
                        <div class="input-group-text">
                            <input class="form-check-input-mt-0" type="checkbox" id="existing_report_use_date" value="">
                        </div>
                    </div>
                    <table class="table table-sm table-hover table-light" id="existing_reports_table">
                        <thead>
                            <tr>
                                <th scope="col">Drawing</th>
                                <th scope="col">Item Number</th>
                                <th scope="col">Revision</th>
                                <th scope="col">Started</th>
                                <th scope="col">Finished</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <!-- select an existing template -->
            <div class="col-md-4">
                <div class="d-grid">
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#select_existing_template" aria-controls="select_existing_template">
                        Select Existing Template
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="select_existing_template" aria-labelledby="select_existing_template_label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="select_existing_template_label">Existing Templates</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>a table of all the existing inspection reports with a filtering option to reduce scrolling</p>
                </div>
            </div>

            <!-- create a new report -->
            <div class="col-md-4">
                <div class="d-grid">
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#create_new_report" aria-controls="create_new_report">
                        Create New Report
                    </button>
                </div>
            </div>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="create_new_report" aria-labelledby="create_new_report_label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="create_new_report_label">New Report</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <p>an input form to create a new inspection report</p>
                </div>
            </div>

        </div>

        <!-- editing an inspection report -->
        <div class="row my-2">
            <div class="col-md-12">
                <h4 class="mt-3">Edit The Inspection Report...</h4>
            </div>
        </div>
        <div class="row my-2">
            <!-- 
                inspection report id
                inspection report start/finish dates
                inspection report disposition
                inspection report associated job order
                inspection report associated purchase order(s)
                inspection report associated receiver number(s)

                associated part's characteristic name
                associated part's characteristic nominal
                associated part's characteristic usl
                associated part's characteristic lsl
                associated part's characteristic measured

                associated part's characteristic gauge (from id)
                associated part's characteristic specification type (from id)
            -->

            
        </div>
    </div>

    <!-- import bootstrap js library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <!-- import local js scripts -->
    <script src="/static/js/data_entry.js"></script>

</body>

</html>