<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the metadata -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <!-- set the title -->
    <title>QA1 Quality Portal</title>

    <!-- bring in the favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- link to reset css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- link to style css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- import js libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body style="height: 100vh; margin: 0px 0px 30px 0px">

    <!-- navigation bar -->
    <div class="nav_bar">
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Data Entry
            </button>
            <div class="navbar-dropdown-content">
                <a href="/measurement_set_schemas">Measurement Schemas</a>
                <a href="/inspection_reports">Inspection Reports</a>
            </div>
        </div>
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Data Analysis
            </button>
            <div class="navbar-dropdown-content">
                <a href="#">Trend Detection</a>
            </div>
        </div>
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Bulk Data
            </button>
            <div class="navbar-dropdown-content">
                <a href="#">Query</a>
            </div>
        </div>
        <label id="navbar_info"></label>
    </div>

    <!-- measurements table -->
    <div class="container" style="margin: 60px 250px 30px 250px; --grid-template-columns: repeat(0, minmax(0, 1fr));">

        <!-- table -->
        <table class="data-table" id="measurements_table" style="
            --grid-column: 1;
            --grid-row: 1;
            margin-top: 18px;"></table>
    </div>

    <!-- measurements table context menu -->
    <div class="context-menu" id="measurements_table_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Tunnel to Physical Part</button>
        <button class="context-menu-button" id="context_menu_1">View Deviations</button>
    </div>

    <!-- inspection record -->
    <div class="sidebar" id="inspection_records_sidebar">
        <div class="container" style="--grid-template-columns: repeat(3, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="inspection_records_new" type="button" style="
                --grid-column: 1 / 4;
                --grid-row: 1;">New Inspection Report</button>

            <!-- row -->
            <button class="button-dark" id="inspection_records_refresh" type="button" style="
                --grid-column: 1 / 4;
                --grid-row: 2;">Refresh List</button>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 4;
                --grid-row: 3;">New Inspection Report</label>

            <!-- row -->
            <label class="label-dark" for="inspection_records_part_filter_new" style="
                --grid-column: 1;
                --grid-row: 4;">Part ID</label>
            <input class="input-dark" id="inspection_records_part_filter_new" type="text" style="
                --grid-column: 1;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <select class="select-dark" id="inspection_records_part_new" style="
                --grid-column: 1;
                --grid-row: 6;"></select>
            <label class="label-dark" for="inspection_records_schema_filter_new" style="
                --grid-column: 2;
                --grid-row: 4;">Filter</label>
            <input class="input-dark" id="inspection_records_schema_filter_new" type="text" style="
                --grid-column: 2;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <select class="select-dark" id="inspection_records_schema_new" style="
                --grid-column: 2;
                --grid-row: 6;"></select>
            <label class="label-dark" for="inspection_records_employee_filter_new" style="
                --grid-column: 3;
                --grid-row: 4;">Employee</label>
            <input class="input-dark" id="inspection_records_employee_filter_new" type="text" style="
                --grid-column: 3;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <select class="select-dark" id="inspection_records_employee_new" style="
                --grid-column: 3;
                --grid-row: 6;"></select>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 3;
                --grid-row: 7;">Existing Inspection Reports</label>

            <!-- row -->
            <label class="label-dark" for="inspection_records_part_list" style="
                --grid-column: 1;
                --grid-row: 8;">Part ID</label>
            <input class="input-dark" id="inspection_records_part_list" type="text" style="
                --grid-column: 1;
                --grid-row: 9;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspection_records_started_after_list" style="
                --grid-column: 2;
                --grid-row: 8;">Started After</label>
            <input class="input-dark" id="inspection_records_started_after_list" type="date" style="
                --grid-column: 2;
                --grid-row: 9"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspection_records_finished_before_list" style="
                --grid-column: 3;
                --grid-row: 8;">Finished Before</label>
            <input class="input-dark" id="inspection_records_finished_before_list" type="date" style="
                --grid-column: 3;
                --grid-row: 9"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <label class="label-dark" for="inspection_records_material_type_list" style="
                --grid-column: 1;
                --grid-row: 10;">Material Type</label>
            <input class="input-dark" id="inspection_records_material_type_list" style="
                --grid-column: 1;
                --grid-row: 11;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspection_records_employee_list" style="
                --grid-column: 2;
                --grid-row: 10;">Employee</label>
            <input class="input-dark" id="inspection_records_employee_list" style="
                --grid-column: 2;
                --grid-row: 11;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspection_records_disposition_list" style="
                --grid-column: 3;
                --grid-row: 10;">Disposition</label>
            <input class="input-dark" id="inspection_records_disposition_list" style="
                --grid-column: 3;
                --grid-row: 11;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <div class="sub-container" style="
                --grid-template-columns: repeat(5, minmax(0, 1fr));
                --grid-column: 1 / 4;
                --grid-row: 12;">
                <label class="label-dark" for="inspection_records_receiver_number_list" style="
                    --grid-column: 1;
                    --grid-row: 1;">Receiver Number</label>
                <input class="input-dark" id="inspection_records_receiver_number_list" style="
                    --grid-column: 1;
                    --grid-row: 2;
                    text-align: left;"
                    ondrag="return false;" ondrop="return false;">
                <label class="label-dark" for="inspection_records_purchase_order_list" style="
                    --grid-column: 2;
                    --grid-row: 1;">Purchase Order</label>
                <input class="input-dark" id="inspection_records_purchase_order_list" style="
                    --grid-column: 2;
                    --grid-row: 2;
                    text-align: left;"
                    ondrag="return false;" ondrop="return false;">
                <label class="label-dark" for="inspection_records_job_order_list" style="
                    --grid-column: 3;
                    --grid-row: 1;">Job Order</label>
                <input class="input-dark" id="inspection_records_job_order_list" style="
                    --grid-column: 3;
                    --grid-row: 2;
                    text-align: left;"
                    ondrag="return false;" ondrop="return false;">
                <label class="label-dark" for="inspection_records_lot_number_list" style="
                    --grid-column: 4;
                    --grid-row: 1;">Lot Number</label>
                <input class="input-dark" id="inspection_records_lot_number_list" style="
                    --grid-column: 4;
                    --grid-row: 2;
                    text-align: left;"
                    ondrag="return false;" ondrop="return false;">
                <label class="label-dark" for="inspection_records_supplier_list" style="
                    --grid-column: 5;
                    --grid-row: 1;">Supplier</label>
                <input class="input-dark" id="inspection_records_supplier_list" style="
                    --grid-column: 5;
                    --grid-row: 2;
                    text-align: left;"
                    ondrag="return false;" ondrop="return false;">
            </div>

            <!-- row -->
            <ul class="item-list" style="
                --grid-column: 1 / 4;
                --grid-row: 13;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(5, minmax(0, 1fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Item</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">Drawing</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 3;--grid-row: 1;">Material Type</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 4;--grid-row: 1;">Employee</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 5;--grid-row: 1;">Disposition</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="inspection_records_filtered_list" style="
                --grid-column: 1 / 4;
                --grid-row: 14;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="inspection_records_btn" style="top: calc(0 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="inspection_records_button" type="button" onclick="toggle_options('inspection_records', '1000px')">
            Inspection Reports
        </button>
    </div>

    <!-- inspection record context menu -->
    <div class="context-menu" id="inspection_records_list_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Delete Report</button>
    </div>

    <!-- inspections -->
    <div class="sidebar" id="inspections_sidebar">
        <div class="container" style="--grid-template-columns: repeat(2, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="inspections_add" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 1;">Add Measurement Set</button>

            <!-- row -->
            <button class="button-dark" id="inspections_refresh_list" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 2;">Refresh List</button>

            <!-- row -->
            <button class="button-dark" id="inspections_save" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 3;">Save</button>

            <!-- row -->
            <label class="label-dark" for="inspections_schema_filter" style="
                --grid-column: 1;
                --grid-row: 4;">Filter</label>
            <input class="input-dark" type="text" id="inspections_schema_filter" style="
                --grid-column: 1;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspections_schema" style="
                --grid-column: 2;
                --grid-row: 4;">Measurement Schema</label>
            <select class="select-dark" id="inspections_schema" style="
                --grid-column: 2;
                --grid-row: 5;"></select>

            <!-- row -->
            <label class="label-dark" for="inspections_employee_filter" style="
                --grid-column: 1;
                --grid-row: 6;">Filter</label>
            <input class="input-dark" type="text" id="inspections_employee_filter" style="
                --grid-column: 1;
                --grid-row: 7;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="inspections_employee" style="
                --grid-column: 2;
                --grid-row: 6;">Employee</label>
            <select class="select-dark" id="inspections_employee" style="
                --grid-column: 2;
                --grid-row: 7;"></select>

            <!-- row -->
            <label class="label-dark" for="inspections_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 8;">Display Filter</label>
            <input class="input-dark" type="text" id="inspections_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 9;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1 / 3;
                --grid-row: 10;">Associated Measurement Sets</label>
            <ul class="item-list" style="
                --grid-column: 1 / 3;
                --grid-row: 11;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(2, minmax(0, 5fr)) repeat(2, minmax(0, 3fr)) repeat(2, minmax(0, 4fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Timestamp</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">Employee</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 3;--grid-row: 1;">Part Index</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 4;--grid-row: 1;">Revision</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 5;--grid-row: 1;">Inspection Type</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 6;--grid-row: 1;">Display State</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="inspections_list" style="
                --grid-column: 1 / 3;
                --grid-row: 12;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="inspections_btn" style="top: calc(1 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="inspections_button" type="button" onclick="toggle_options('inspections', '1000px')">
            Inspections
        </button>
    </div>

    <!-- inspections context menu -->
    <div class="context-menu" id="inspections_list_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Delete Set</button>
    </div>

    <!-- features -->
    <div class="sidebar" id="features_sidebar">
        <div class="container" style="--grid-template-columns: repeat(2, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="features_apply_filter" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 1;">Update View</button>

            <!-- row -->
            <button class="button-dark" id="features_save_changes" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 2;">Save Edits</button>

            <!-- row -->
            <label class="label-dark" for="features_display_type" style="
                --grid-column: 1;
                --grid-row: 3;">Display Type</label>
            <select class="select-dark" id="features_display_type" style="
                --grid-column: 1;
                --grid-row: 4;">
                <option value="0">Data Entry</option>
                <option value="1">Metadata</option>
                <option value="2">Data Entry with Set Info</option>
                <option value="3">Metadata with Set Info</option>
            </select>
            <label class="label-dark" for="features_has_deviations" style="
                --grid-column: 2;
                --grid-row: 3;">Has Deviations</label>
            <select class="select-dark" id="features_has_deviations" style="
                --grid-column: 2;
                --grid-row: 4;">
                <option value="-1">n/a</option>
                <option value="0">False</option>
                <option value="1">True</option>
            </select>

            <!-- row -->
            <label class="label-dark" for="features_inspection_type" style="
                --grid-column: 1;
                --grid-row: 5;">Inspection Type</label>
            <select class="select-dark" id="features_inspection_type" style="
                --grid-column: 1;
                --grid-row: 6;"></select>
            <label class="label-dark" for="features_inspector" style="
                --grid-column: 2;
                --grid-row: 5;">Employee</label>
            <select class="select-dark" id="features_inspector" style="
                --grid-column: 2;
                --grid-row: 6;"></select>

            <!-- row -->
            <label class="label-dark" for="features_part_index" style="
                --grid-column: 1;
                --grid-row: 7;">Part Index</label>
            <select class="select-dark" id="features_part_index" style="
                --grid-column: 1;
                --grid-row: 8;"></select>
            <label class="label-dark" for="features_revision" style="
                --grid-column: 2;
                --grid-row: 7;">Revision</label>
            <select class="select-dark" id="features_revision" style="
                --grid-column: 2;
                --grid-row: 8;"></select>

            <!-- row -->
            <label class="label-dark" for="features_dimension_name" style="
                --grid-column: 1;
                --grid-row: 9;">Dimension Name</label>
            <input class="input-dark" id="features_dimension_name" type="text" style="
                --grid-column: 1;
                --grid-row: 10;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="features_frequency_type" style="
                --grid-column: 2;
                --grid-row: 9;">Frequency Type</label>
            <select class="select-dark" id="features_frequency_type" style="
                --grid-column: 2;
                --grid-row: 10;"></select>

            <!-- row -->
            <label class="label-dark" for="features_gauge" style="
                --grid-column: 1;
                --grid-row: 11;">Gauge</label>
            <select class="select-dark" id="features_gauge" style="
                --grid-column: 1;
                --grid-row: 12;"></select>
            <label class="label-dark" for="features_gauge_type" style="
                --grid-column: 2;
                --grid-row: 11;">Gauge Type</label>
            <select class="select-dark" id="features_gauge_type" style="
                --grid-column: 2;
                --grid-row: 12;"></select>

            <!-- row -->
            <label class="label-dark" for="features_specification_type" style="
                --grid-column: 1;
                --grid-row: 13;">Specification Type</label>
            <select class="select-dark" id="features_specification_type" style="
                --grid-column: 1;
                --grid-row: 14;"></select>
            <label class="label-dark" for="features_dimension_type" style="
                --grid-column: 2;
                --grid-row: 13;">Dimension Type</label>
            <select class="select-dark" id="features_dimension_type" style="
                --grid-column: 2;
                --grid-row: 14;"></select>
        </div>
    </div>
    <div class="sidebar-toggle" id="features_btn" style="top: calc(2 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="features_button" type="button" onclick="toggle_options('features', '500px')">
            Features
        </button>
    </div>

    <!-- manufactured -->
    <div class="sidebar" id="manufactured_sidebar">
        <div class="container" style="--grid-template-columns: repeat(2, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="manufactured_job_order_add" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 1;">Add Job Order</button>

            <!-- row -->
            <button class="button-dark" id="manufactured_job_order_save" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 2;">Save</button>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 4;
                --grid-row: 3;">New Association</label>

            <!-- row -->
            <label class="label-dark" for="manufactured_job_order_search_term" style="
                --grid-column: 1;
                --grid-row: 4;">Filter</label>
            <input class="input-dark" id="manufactured_job_order_search_term" style="
                --grid-column: 1;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="manufactured_job_order" style="
                --grid-column: 2;
                --grid-row: 4;">Job Order</label>
            <select class="select-dark" id="manufactured_job_order" style="
                --grid-column: 2;
                --grid-row: 5;"></select>

            <!-- row -->
            <label class="label-dark" for="manufactured_part_search_term" style="
                --grid-column: 1;
                --grid-row: 6;">Filter</label>
            <input class="input-dark" id="manufactured_part_search_term" style="
                --grid-column: 1;
                --grid-row: 7;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="manufactured_part" style="
                --grid-column: 2;
                --grid-row: 6;">Part ID</label>
            <select class="select-dark" id="manufactured_part" style="
                --grid-column: 2;
                --grid-row: 7;"></select>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 4;
                --grid-row: 8;">Existing Associations</label>

            <!-- row -->
            <label class="label-dark" for="manufactured_job_order_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 9;">Display Filter</label>
            <input class="input-dark" id="manufactured_job_order_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 10;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <ul class="item-list" style="
                --grid-column: 1 / 3;
                --grid-row: 11;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(1, minmax(0, 1fr)) repeat(4, minmax(0, 2fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Revision</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">Job Number</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 3;--grid-row: 1;">Full Inspect Interval</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 4;--grid-row: 1;">Released Quantity</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 5;--grid-row: 1;">Completed Quantity</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="manufactured_job_order_list" style="
                --grid-column: 1 / 3;
                --grid-row: 12;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="manufactured_btn" style="top: calc(3 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="manufactured_button" type="button" onclick="toggle_options('manufactured', '750px')">
            Manufactured
        </button>
    </div>

    <!-- manufactured context menus -->
    <div class="context-menu" id="manufactured_job_order_list_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Delete</button>
    </div>

    <!-- received -->
    <div class="sidebar" id="received_sidebar">
        <div class="container" style="--grid-template-columns: repeat(4, minmax(0, 1fr));">

            <!-- control section -->
            <button class="button-dark" id="received_purchase_order_add" type="button" style="
                --grid-column: 1 / 5;
                --grid-row: 1;">Assign Purchase Order</button>
            <button class="button-dark" id="received_receiver_number_add" type="button" style="
                --grid-column: 1 / 5;
                --grid-row: 2;">Assign Receiver Number</button>
            <button class="button-dark" id="received_save_received_quantities" type="button" style="
                --grid-column: 1 / 5;
                --grid-row: 3;">Save</button>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 5;
                --grid-row: 4;">New Associations</label>

            <!-- row -->
            <label class="label-dark" for="received_purchase_order_search_term" style="
                --grid-column: 1;
                --grid-row: 5;">Filter</label>
            <input class="input-dark" id="received_purchase_order_search_term" style="
                --grid-column: 1;
                --grid-row: 6;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="received_purchase_order" style="
                --grid-column: 2;
                --grid-row: 5;">Purchase Order</label>
            <select class="select-dark" id="received_purchase_order" style="
                --grid-column: 2;
                --grid-row: 6;"></select>
            <label class="label-dark" for="received_receiver_number_search_term" style="
                --grid-column: 3;
                --grid-row: 5;">Filter</label>
            <input class="input-dark" id="received_receiver_number_search_term" style="
                --grid-column: 3;
                --grid-row: 6;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="received_receiver_number" style="
                --grid-column: 4;
                --grid-row: 5;">Receiver Number</label>
            <select class="select-dark" id="received_receiver_number" style="
                --grid-column: 4;
                --grid-row: 6;"></select>

            <!-- row -->
            <label class="label-dark" for="received_supplier_search_term" style="
                --grid-column: 3;
                --grid-row: 7;">Filter</label>
            <input class="input-dark" id="received_supplier_search_term" style="
                --grid-column: 3;
                --grid-row: 8;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="received_supplier" style="
                --grid-column: 4;
                --grid-row: 7;">Supplier</label>
            <select class="select-dark" id="received_supplier" style="
                --grid-column: 4;
                --grid-row: 8;"></select>

            <!-- row -->
            <label class="label-header-dark" style="
                --grid-column: 1 / 7;
                --grid-row: 9;">Existing Associations</label>

            <!-- row -->
            <label class="label-dark" for="received_purchase_order_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 10;">Display Filter</label>
            <input class="input-dark" id="received_purchase_order_display_filter" style="
                --grid-column: 1 / 3;
                --grid-row: 11;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" for="received_receiver_number_display_filter" style="
                --grid-column: 3 / 5;
                --grid-row: 10;">Display Filter</label>
            <input class="input-dark" id="received_receiver_number_display_filter" style="
                --grid-column: 3 / 5;
                --grid-row: 11;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <ul class="item-list" style="
                --grid-column: 1 / 3;
                --grid-row: 12;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(1, minmax(0, 1fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Purchase Order</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="received_purchase_order_list" style="
                --grid-column: 1 / 3;
                --grid-row: 13;"></ul>
            <ul class="item-list" style="
                --grid-column: 3 / 5;
                --grid-row: 12;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(2, minmax(0, 1fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Receiver Number</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">Received Quantity</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="received_receiver_number_list" style="
                --grid-column: 3 / 5;
                --grid-row: 13;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="received_btn" style="top: calc(4 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="received_button" type="button" onclick="toggle_options('received', '750px')">
            Received
        </button>
    </div>

    <!-- received context menus -->
    <div class="context-menu" id="received_receiver_number_list_context_menu">
        <button class="context-menu-button" id="context_menu_0">Delete</button>
    </div>
    <div class="context-menu" id="received_purchase_order_list_context_menu">
        <button class="context-menu-button" id="context_menu_0">Delete</button>
    </div>

    <!-- lot numbers -->
    <div class="sidebar" id="lot_numbers_sidebar">
        <div class="container" style="--grid-template-columns: repeat(2, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="lot_numbers_add" type="button" style="
                --grid-column: 1 / 3;
                --grid-row: 1;">Add Lot Number</button>

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1;
                --grid-row: 2;">Filter</label>
            <input class="input-dark" type="text" id="lot_numbers_selected_search_term" style="
                --grid-column: 1;
                --grid-row: 3;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">
            <label class="label-dark" style="
                --grid-column: 2;
                --grid-row: 2;">Lot Number</label>
            <select class="select-dark" id="lot_numbers_selected" style="
                --grid-column: 2;
                --grid-row: 3;"></select>

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1 / 3;
                --grid-row: 4;">Display Filter</label>
            <input class="input-dark" type="text" id="lot_numbers_search_term" style="
                --grid-column: 1 / 3;
                --grid-row: 5;
                text-align: left;"
                ondrag="return false;" ondrop="return false;">

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1 / 3;
                --grid-row: 6;">Associated Lot Numbers</label>
            <ul class="item-list" id="lot_numbers_list" style="
                --grid-column: 1 / 3;
                --grid-row: 7;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="lot_numbers_btn" style="top: calc(5 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="lot_numbers_button" type="button" onclick="toggle_options('lot_numbers', '500px')">
            Lot Numbers
        </button>
    </div>

    <!-- deviations -->
    <div class="sidebar" id="deviations_sidebar">
        <div class="container" style="--grid-template-columns: repeat(1, minmax(0, 1fr));">

            <!-- row -->
            <button class="button-dark" id="deviations_add_deviation" type="button" style="
                --grid-column: 1;
                --grid-row: 1;">Add</button>

            <!-- row -->
            <button class="button-dark" id="deviations_save_deviation" type="button" style="
                --grid-column: 1;
                --grid-row: 2;">Save</button>

            <!-- row -->
            <label class="label-header-dark" id="deviations_current_characteristic" style="
                --grid-column: 1;
                --grid-row: 3;">Selected Measurement:</label>

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1;
                --grid-row: 4;">Notes</label>
            <textarea class="textarea-dark" id="deviations_notes" style="
                --grid-column: 1;
                --grid-row: 5;
                height: 100px;"></textarea>

            <!-- row -->
            <label class="label-dark" style="
                --grid-column: 1;
                --grid-row: 6;">Associated Deviations</label>
            <ul class="item-list" style="
                --grid-column: 1;
                --grid-row: 7;">
                <li>
                    <div class="list-item-header" style="--grid-template-columns: repeat(4, minmax(0, 2fr)) repeat(3, minmax(0, 3fr));">
                        <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Nominal</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">USL</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 3;--grid-row: 1;">LSL</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 4;--grid-row: 1;">Precision</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 5;--grid-row: 1;">Date</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 6;--grid-row: 1;">Type</label>
                        <label class="list-item-header-label-dark" style="--grid-column: 7;--grid-row: 1;">Employee</label>
                    </div>
                </li>
            </ul>
            <ul class="item-list" id="deviations_list" style="
                --grid-column: 1;
                --grid-row: 8;"></ul>
        </div>
    </div>
    <div class="sidebar-toggle" id="deviations_btn" style="top: calc(6 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" id="deviations_button" type="button" onclick="toggle_options('deviations', '1000px')">
            Deviations
        </button>
    </div>

    <!-- deviations context menu -->
    <div class="context-menu" id="deviations_list_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Delete Deviation</button>
    </div>

    <!-- import local js scripts -->
    <script src="/static/js/inspection_reports.js"></script>

</body>