<!DOCTYPE html>

<html lang="en">

<head>
    <!-- set the metadata -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <!-- set the title -->
    <title>QA1 Quality Portal</title>

    <!-- bring in the favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- link to reset css -->
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- link to style css -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- import js libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body style="height: 100vh;">

    <!-- navigation bar -->
    <div class="nav_bar">
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Data Entry
            </button>
            <div class="navbar-dropdown-content">
                <a href="/inspection_schemas">Schemas</a>
                <a href="/inspection_records">Reports</a>
            </div>
        </div>
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Data Analysis
            </button>
            <div class="navbar-dropdown-content">
                <a href="#">Trend Detection</a>
            </div>
        </div>
        <div class="navbar-dropdown">
            <button class="dropdown-button">
                Bulk Data
            </button>
            <div class="navbar-dropdown-content">
                <a href="#">Query</a>
            </div>
        </div>
        <label id="navbar_info"></label>
    </div>

    <!-- schema view -->
    <div class="container" style="margin: 60px 250px 30px 250px; --grid-template-columns: repeat(0, minmax(0, 1fr));">

        <!-- schema table -->
        <table class="data-table" id="schema_view_characteristics_table" style="
            --grid-column: 1;
            --grid-row: 1;
            margin-top: 18px;"></table>
    </div>

    <!-- schema table context menu -->
    <div class="context-menu" id="schema_view_characteristics_table_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Reload Schema</button>
    </div>

    <!-- schema controls -->
    <div class="sidebar" id="schemas_sidebar">
        <div class="container" style="--grid-template-columns: repeat(1, minmax(0, 1fr));">

            <!-- new schema -->
            <button style="grid-row: 1;" class="accordion">New Inspection Schema</button>
            <div style="grid-row: 2; --grid-template-columns: repeat(2, minmax(0, 1fr)); height: 0px;" class="panel sub-container">

                <!-- row -->
                <button class="button-dark" id="schemas_create_new_btn" type="button" style="
                    --grid-column: 1 / 3;
                    --grid-row: 1;">Create New Schema</button>

                <!-- row -->
                <button class="button-dark" id="schemas_save_btn" type="button" style="
                    --grid-column: 1 / 3;
                    --grid-row: 2;">Save Current Schema</button>

                <!-- row -->
                <label class="label-dark" for="schemas_part_filter" style="
                    --grid-column: 1;
                    --grid-row: 3;">Filter</label>
                <input class="input-dark" id="schemas_part_filter" type="text" style="
                    --grid-column: 1;
                    --grid-row: 4;
                    text-align: left;">
                <label class="label-dark" for="schemas_part" style="
                    --grid-column: 2;
                    --grid-row: 3;">Part ID</label>
                <select class="select-dark" id="schemas_part" style="
                    --grid-column: 2;
                    --grid-row: 4;"></select>
            </div>

            <!-- display filter -->
            <button style="grid-row: 3;" class="accordion">Display Filter</button>
            <div style="grid-row: 4; --grid-template-columns: repeat(2, minmax(0, 1fr)); height: 0px;" class="panel sub-container">

                <!-- row -->
                <label class="label-dark" style="
                    --grid-column: 1 / 3;
                    --grid-row: 1;">Is Locked</label>
                <select class="select-dark" id="schemas_is_locked" style="
                    --grid-column: 1 / 3;
                    --grid-row: 2;">
                    <option value="-1">n/a</option>
                    <option value="0">False</option>
                    <option value="1">True</option>
                </select>

                <!-- row -->
                <label class="label-dark" style="
                    --grid-column: 1 / 3;
                    --grid-row: 3;">Search Term</label>
                <input class="input-dark" id="schemas_search_term" type="text" style="
                    --grid-column: 1 / 3;
                    --grid-row: 4;
                    text-align: left;">
            </div>

            <!-- schemas list -->
            <button style="grid-row: 5;" class="accordion">Inspection Schemas List</button>
            <div style="grid-row: 6; --grid-template-columns: repeat(1, minmax(0, 1fr)); height: 100%;" class="panel sub-container">

                <!-- row -->
                <button class="button-dark" id="schemas_add_row_btn" type="button" style="
                    --grid-column: 1;
                    --grid-row: 1;">Add Row</button>

                <!-- row -->
                <button class="button-dark" id="schemas_remove_row_btn" type="button" style="
                    --grid-column: 1;
                    --grid-row: 2;">Remove Row</button>

                <!-- row -->
                <ul class="item-list" style="
                    --grid-column: 1;
                    --grid-row: 3;">
                    <li>
                        <div class="list-item-header" style="--grid-template-columns: repeat(3, minmax(0, 1fr));">
                            <label class="list-item-header-label-dark" style="--grid-column: 1;--grid-row: 1;">Item</label>
                            <label class="list-item-header-label-dark" style="--grid-column: 2;--grid-row: 1;">Drawing</label>
                            <label class="list-item-header-label-dark" style="--grid-column: 3;--grid-row: 1;">Revision</label>
                        </div>
                    </li>
                </ul>
                <ul class="item-list" id="schemas_filtered_list" style="
                    --grid-column: 1;
                    --grid-row: 4;"></ul>
            </div>
        </div>
    </div>
    <div class="sidebar-toggle" id="schemas_btn" style="top: calc(0 * (12px + 42px) + 12px + 54px);">
        <button class="sidebar-button" type="button" onclick="toggle_options('schemas', '500px')">
            Schemas
        </button>
    </div>

    <!-- filtered schema list context menu -->
    <div class="context-menu" id="schemas_filtered_list_contextmenu">
        <button class="context-menu-button" id="context_menu_0">Toggle Locked Status</button>
        <button class="context-menu-button" id="context_menu_1">Delete Schema</button>
    </div>

    <!-- import local js scripts -->
    <script src="/static/js/measurement_schemas.js"></script>

</body>