
/* #region globals */

body {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 95%);
}

textarea {
    outline: none;
}

input {
    outline: none;
}

select {
    outline: none;
}

body::-webkit-scrollbar {
    display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    appearance: none;
}

/* #endregion globals */

/* #region navbar_basics */

.nav_bar {
    background-color: hsl(0, 0%, 20%);
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 54px;
    position: fixed;
    line-height: 54px;
}

.nav_bar label {
    float: left;
    color: hsl(0, 0%, 95%);
    padding: 0px 0px 0px 30px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_bar a {
    float: right;
    color: hsl(0, 0%, 95%);
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
}

.nav_bar a:hover {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 0%);
}

/* #endregion navbar_basics */

/* #region sidebar_basics */

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 54px;
    left: 0px;
    background-color: hsl(0, 0%, 20%);
    overflow-x: hidden;
    padding-top: 12px;
    transition: 0.5s;
}

.sidebar_button {
    font-size: 15px;
    cursor: pointer;
    background-color: hsl(0, 0%, 20%);
    width: 204px;
    height: 42px;
    text-align: left;
    vertical-align: middle;
    color: hsl(0, 0%, 95%);
    padding: 0px 0px 0px 15px;
    border: none;
    border-radius: 12px;
}

.sidebar_button:hover {
    background-color: hsl(0, 0%, 30%);
}

.sidebar_toggle {
    transition: margin-left 0.5s;
    left: 12px;
    position: fixed;
}

@media screen and (max-height: 450px) {
    .sidebar { padding-top: 15px; }
    .sidebar a { font-size: 18px; }
}

/* #endregion sidebar_basics */

/* #region controls */

.inline_display_label_dark {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    padding: 6px;
    text-align: left;
    font-size: 18px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.inline_display_value_dark {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    padding: 6px;
    text-align: left;
    font-size: 15px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.header_dark {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    font-size: 18px;
    margin: 12px 0px 6px 6px;
    padding: 2px;
    text-align: left;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.label_over_dark {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    font-size: 12px;
    margin: 6px 9px 0px 6px;
    padding: 2px;
    text-align: left;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.number_input_dark {
    background-color: hsl(0, 0%, 95%);
    border-width: 0px;
    border-radius: 3px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: right;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.text_input_dark {
    background-color: hsl(0, 0%, 95%);
    border-width: 0px;
    border-radius: 3px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: left;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.date_input_dark {
    background-color: hsl(0, 0%, 95%);
    border-width: 0px;
    border-radius: 3px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: left;
    margin: 6px;
    padding: 6px;
    font-family: sans-serif;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.textarea_dark {
    background-color: hsl(0, 0%, 95%);
    border-width: 0px;
    border-radius: 3px;
    color: hsl(0, 0%, 20%);
    margin: 6px;
    padding: 6px;
    font-family: sans-serif;
    resize: none;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.select_dark {
    background-color: hsl(0, 0%, 95%);
    border-width: 0px;
    border-radius: 3px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: left;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.button_dark {
    background-color: hsl(0, 50%, 50%);
    border-width: 0px;
    border-radius: 6px;
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.button_dark:hover {
    background-color: hsl(0, 50%, 40%);
    cursor: pointer;
}

.button_dark:active {
    background-color: hsl(0, 50%, 30%);
}

.header_light {
    background-color: transparent;
    color: hsl(0, 0%, 20%);
    font-size: 21px;
    margin: 6px 6px 0px 6px;
    padding: 2px;
    text-align: left;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.label_over_light {
    background-color: transparent;
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    margin: 6px 6px 0px 6px;
    padding: 2px;
    text-align: left;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.number_input_light {
    background-color: hsl(0, 0%, 85%);
    border-width: 1px;
    border-radius: 3px;
    border-color: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: right;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.text_input_light {
    background-color: hsl(0, 0%, 85%);
    border-width: 1px;
    border-radius: 3px;
    border-color: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: left;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.select_light {
    background-color: hsl(0, 0%, 85%);
    border-width: 1px;
    border-radius: 3px;
    border-color: hsl(0, 0%, 35%);
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: left;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.button_light {
    background-color: hsl(0, 50%, 50%);
    border-width: 0px;
    border-radius: 6px;
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    margin: 6px;
    padding: 6px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.button_light:hover {
    background-color: hsl(0, 50%, 40%);
    cursor: pointer;
}

.button_light:active {
    background-color: hsl(0, 50%, 30%);
}

/* #endregion controls */

/* #region tables */

.list_dark {
    padding: 6px 0px 0px 0px;
    overflow: hidden;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.data_table_dark {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.data_table_dark thead th {
    font-size: 15px;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
}

.data_table_dark tbody tr {
    text-align: right;
    border-radius: 6px;
}

.data_table_dark tbody tr:hover {
    background-color: hsl(0, 50%, 50%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.data_table_dark tbody tr:active {
    background-color: hsl(0, 50%, 30%);
}

.data_table_dark tbody td {
    vertical-align: middle;
    padding: 0px;
    font-size: 15px;
}

.data_table_start_cell {
    border-radius: 6px 0px 0px 6px;
    padding: 0px;
}

.data_table_end_cell {
    border-radius: 0px 6px 6px 0px;
    padding: 0px;
}

.data_table_light {
    background-color: transparent;
    color: hsl(0, 0%, 20%);
    margin: 0px;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    table-layout: fixed;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
}

.data_table_light thead th {
    font-size: 15px;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
}

.data_table_light tbody tr {
    text-align: right;
    border-radius: 6px;
}

.data_table_light tbody tr:hover {
    background-color: hsl(0, 50%, 70%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
}

.data_table_light tbody tr:active {
    background-color: hsl(0, 50%, 60%);
}

.data_table_light tbody td {
    vertical-align: middle;
    padding: 0px;
    font-size: 15px;
}

/* #endregion tables */

/* #region table controls */

.table_label_light {
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: right;
    margin: 0px;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.table_label_light:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_input_light {
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
}

.table_input_light:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_input_light:focus-within {
    background-color: hsl(0, 50%, 60%);
}

.table_select_light {
    appearance: none;
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
}

.table_select_light:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_select_light:focus-within {
    background-color: hsl(0, 50%, 60%);
    outline: none;
}

.table_label_dark {
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    text-align: right;
    margin: 0px;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.table_label_dark:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_input_dark {
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
}

.table_input_dark:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_input_dark:focus-within {
    background-color: hsl(0, 50%, 60%);
}

.table_select_dark {
    appearance: none;
    background-color: transparent;
    border-width: 0px;
    color: hsl(0, 0%, 95%);
    font-size: 15px;
    text-align: right;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
}

.table_select_dark:hover {
    background-color: hsl(0, 50%, 60%);
}

.table_select_dark:focus-within {
    background-color: hsl(0, 50%, 60%);
    outline: none;
}

/* #endregion table controls */

/* #region grid_layout */

.grid_container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: var(--grid-template-columns);
    gap: 0px;
    overflow: visible;
    margin: 0px 18px;
}

.grid_sub_container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: var(--grid-template-columns);
    gap: 0px;
    margin: 0px;
    grid-column: var(--grid-column);
    grid-row: var(--grid-row);
    width: 100%;
}

.grid_container_item {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: var(--grid-template-columns);
    gap: 0px;
    margin: 0px 9px;
    border-radius: 6px;
}

.grid_container_item label {
    padding: 6px;
    font-size: 15px;
    color: hsl(0, 0%, 95%);
}

.grid_container_item button {
    outline: none;
    background-color: transparent;
    border: 0px;
    border-color: transparent;
    border-radius: 0px;
    font-size: 15px;
    color: transparent;
}

.grid_container_item button:hover {
    background-color: hsl(0, 50%, 40%);
    border-radius: 0px 6px 6px 0px;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.grid_container_item button:active {
    background-color: hsl(0, 50%, 30%);
    border-radius: 0px 6px 6px 0px;
}

.grid_container_item:hover {
    background-color: hsl(0, 50%, 50%);
}

.grid_container_item:active {
    background-color: hsl(0, 50%, 40%);
}

.grid_container_item_header {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: var(--grid-template-columns);
    gap: 0px;
    margin: 0px 9px;
    border-radius: 6px;
}

.grid_container_item_header label {
    padding: 6px;
    font-size: 15px;
    text-align: center;
    color: hsl(0, 0%, 95%);
}

/* #endregion grid_layout */

/* #region context_menu */

.context_menu {
    position: fixed;
    z-index: 10000;
    width: 200px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 6px;
    display: none;
}

.context_menu.visible {
    display: block;
}

.context_menu button {
    background-color: transparent;
    border-width: 0px;
    border-radius: inherit;
    color: hsl(0, 0%, 95%);
    width: 100%;
    text-align: left;
    padding: 6px 9px;
    font-size: 15px;
    cursor: pointer;
}

.context_menu button:hover {
    background-color: hsl(0, 50%, 40%);
}

.context_menu button:active {
    background-color: hsl(0, 50%, 30%);
}

/* #endregion context_menu */
